<div class="card" style="width: 400px;">
  <%= image_tag user.image.variant(resize_to_limit: [400, 400]) if user.image.attached? %>
  <div class="card-body">
    <h5 class="card-title">#<%= user.id %> <%= user.display_name %></h5>
    <p class="card-text"><%= user.email %></p>
  </div>
</div>
